.main-content {
  @include display-flexbox(auto);
  @include justify-content(space-between);
  @include align-items(flex-start);

  div {
    flex: 1;
  }

  .content h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin: 0;
    margin-left: -8rem;
  }
}