@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,900&display=swap);
/* Document
 * ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 * ========================================================================== */

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

body,html{margin:0;padding:0;min-height:100vh;font-family:Raleway,sans-serif;font-weight:400;font-style:normal;font-size:16px;line-height:1.5}.body-background{display:flex;width:auto;-moz-flex-direction:column;flex-direction:column;-ms-justify-content:space-between;justify-content:space-between;position:relative;background-image:url(/discover-markup/images/photo-1513553404607-988bf2703777.jpeg);background-position:50%;background-size:cover;background-repeat:no-repeat;box-shadow:inset 0 0 0 100vw rgba(0,0,0,.3)}.body-background::after{content:"DISCOVER";position:absolute;right:4rem;bottom:8rem;opacity:.3;font-weight:900;font-size:8rem;letter-spacing:2rem;color:#f1f1f1}a{text-decoration:none;transition:all .2s ease}.main-content{display:flex;width:auto;-ms-justify-content:space-between;justify-content:space-between;-moz-align-items:flex-start;-ms-align-items:flex-start;-o-align-items:flex-start;align-items:flex-start}.main-content div{flex:1}.main-content .content h3{color:#fff;font-weight:500;font-size:3rem;letter-spacing:.25rem;margin:0 0 0 -8rem}.navigation-bar{display:flex;width:auto;-ms-justify-content:space-between;justify-content:space-between;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;padding:4rem 6rem}.navigation-bar .navigation-brand .navigation-toggler{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;background:none;padding:0;margin-right:48px;opacity:.9;cursor:pointer}.navigation-bar .navigation-brand .navigation-toggler span{display:block;background:#fff;width:24px;height:2px}.navigation-bar .navigation-brand .navigation-toggler span:nth-child(2){margin:4px 0}.navigation-bar .navigation-brand .navigation-toggler span:last-of-type{width:18px}.navigation-bar .navigation-brand .navigation-toggler:hover{opacity:1}.navigation-bar .navigation-brand .name{font-size:1.25rem;font-weight:900;color:#fff;opacity:.9;letter-spacing:2px}.navigation-bar .navigation-brand .name:hover{opacity:1}.navigation-bar .navigation-divider{width:8rem;height:.1rem;background:#fff;opacity:.6}.navigation-bar .navigation-menu .navigation-item{margin:0 1rem;font-size:1rem;font-weight:700;color:#fff;opacity:.5;text-transform:uppercase}.navigation-bar .navigation-menu .navigation-item:last-of-type{margin-right:0}.navigation-bar .navigation-menu .navigation-item:first-of-type{margin-left:0}.navigation-bar .navigation-menu .navigation-item:hover{opacity:1}.side-navigation{padding:0 6rem}.side-navigation ul{list-style:none;margin:0;padding:0}.side-navigation ul li{margin:1.25rem 0}.side-navigation ul li .divider{color:#eeeeec;font-size:3rem;font-weight:700}.side-navigation ul a{color:#eeeeec;font-size:1.5rem;font-weight:700;text-transform:uppercase}.side-navigation ul a svg{width:1.5rem;height:1.5rem;fill:#eeeeec}.side-navigation ul a:hover{color:#fff}.side-navigation ul a:hover svg{fill:#fff}.footer{display:flex;width:auto;-ms-justify-content:space-between;justify-content:space-between;-moz-align-items:flex-start;-ms-align-items:flex-start;-o-align-items:flex-start;align-items:flex-start}.footer .content{padding:0 6rem;flex:1}.footer .book-now{display:flex;width:auto;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}.footer .book-now .icon,.footer .book-now h4{transition:all .4s ease;opacity:.8;cursor:pointer}.footer .book-now .icon:hover,.footer .book-now h4:hover{opacity:1}.footer .book-now .icon{border:2px solid #eeeeec;border-radius:50%;height:1.5rem;width:1.5rem;margin-right:8rem}.footer .book-now .icon .feather{width:1.5rem;height:1.5rem;color:#eeeeec}.footer .book-now h4{color:#eeeeec;font-weight:700;font-size:1.5rem;letter-spacing:.5rem;text-transform:uppercase}.footer .best-place{display:flex;width:auto;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}.footer .best-place .number{font-weight:400;font-size:1.5rem;letter-spacing:.25rem;color:#fff;opacity:.4}.footer .best-place .divider{width:10rem;height:.125rem;margin:0 2rem;background:#fff;opacity:.3}.footer .best-place .text{font-weight:400;font-size:1rem;letter-spacing:.1rem;color:#fff;opacity:.4;text-transform:uppercase}
